.about-section {
}
.about-section .container > *:not(:last-child) {
    margin-bottom: 150px;
}
.container {
}
.content {
}
.about-block {
    justify-content: space-between;
}
.about-block > *:not(:last-child) {
    margin-right: 20px;
}
.about-section .block {
    flex: 1 1 50%;

    display: flex;
    max-width: 540px;
}
.about-section .block:nth-child(2) {
    justify-content: flex-end;
    align-items: center;
}
.about-section .block-content {
}
.about-section .block:nth-child(2) .block-content {
    position: relative;

    display: flex;
    max-width: 445px;
    width: 100%;
    max-height: 466px;
    height: 100%;
}
.about-section .block:nth-child(2) .block-content > *:nth-child(2) {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
    opacity: .3;
}
.about-section .title-block {
}
.icon-block {
}
.title {
}
.about-section .description {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}
.about-section .description > *:not(:last-child) {
    margin-bottom: 24px;
}
.about-section .text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    opacity: .7;
}
.about-section .info {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    /* column-gap: 40px; */
}
.about-section .item {
    flex: 1 1 50%;
    display: flex;
}
.about-section .item > *:not(:last-child) {
    margin-right: 20px;
}
.about-section .marker {
    width: 30px;
    height: 30px;
    background: #7A66CC;
}
.about-section .image-block {
    position: relative;
    z-index: 1;

    display: flex;
    max-width: 350px;
    max-height: 400px;

    overflow: hidden;
}
.about-section .image-block img {
}

/* QUOTE */
.about-section .about-block:nth-child(2) .block {
    position: relative;

    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: unset;
    height: 483px;

    width: 100%;
}
.content {
}
.about-block {
}
.block {
}
.about-section .about-block:nth-child(2) .block-content {    
    width: 100%;
    
    padding: 0 80px;
    border: 1px solid white;
    box-sizing: border-box;
}
.block-content {
    position: relative;
}
.quote-block {
    position: relative;

    max-width: 520px;

    padding: 50px 0;
    box-sizing: border-box;
}
.quote-block .icon-block {
    position: absolute;

    display: flex;
    width: 103px;
    height: 92px;
}
.quote-block .icon {
    width: 100%;
    height: 100%;
}
.quote-block .text {
    font-size: 18px;
    line-height: 27px;
    opacity: 1;
}
.quote-block .text::after {
    content: '';

    display: block;
    width: 100%;
    height: 1px;
    margin: 25px 0;
    
    background: rgba(255, 255, 255, .6);
}
.quote-block .link {
    font-weight: bold;
    color: #7A66CC;
}
.about-section .about-block:nth-child(2) .image-block {
    position: absolute;
    right: 80px;

    display: inline-block;
    max-width: 370px;
    max-height: 483px;
}
.about-section .about-block:nth-child(2) img {
}