.media-section {
}
.container {
}
.content {
}
.media-block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
        "first second third fifth"
        "first fourth fourth fifth";
    /* grid-template-rows: 235px; */
    gap: 30px;
}
.media-block > *:nth-child(1) {
    grid-area: first;
}
.media-block > *:nth-child(2) {
    grid-area: second;    
}
.media-block > *:nth-child(3) {
    grid-area: third;    
}
.media-block > *:nth-child(4) {
    grid-area: fourth;    
}
.media-block > *:nth-child(5) {
    grid-area: fifth;    
}
.media-block .image-block {
    position: relative;
    overflow: hidden;
}
.media-block .image-block .overlay {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    background: rgba(28, 29, 33, .8);
    opacity: 0;

    transition: .3s ease-in-out;
    cursor: default;
}
.media-block .image-block:hover .overlay {
    opacity: 1;
}
.media-block .image-block .overlay p {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #7A66CC;
}